<p id="notice"><%= notice %></p>

<%= @user.email %>
<div class="card">
  <% @grouped_posts.each do |item| %>
    <% item[1].each do |item2| %>
    <div><%= item2.header %></div>
    <div class="font-weight-bold text-<%= item2.color %>"><%= item2.title %></div>
    <div><% if item2.design == "Two column" %>
      <div>
        <div class="col-6"><%= item2.body %></div>
      </div>
      
      <% else %>
      <div>
        <div class="col-12"><%= item2.body %></div>
      </div>
      
      <% end %></div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Ana Sayfa', root_url(subdomain: ''), class: 'btn btn-primary text-light' %>
<%= link_to 'Tüm Kullanıcılar', users_path, class: 'btn btn-success text-light' %>


