<p id="notice"><%= notice %></p>

<%= @user.email %>
<div class="card shadow-lg py-4">
  <% @grouped_posts.each do |item| %>
    <% item[1].each do |item2| %>
    <div><%= item2.header %></div>
    <div class="font-weight-bold text-<%= item2.color %>"><%= item2.title %></div>
    <div><%= design_checker(item2) %></div>
    <% end %>
  <% end %>
</div>
<div class="mt-5">
  <%= link_to 'Main Page', root_url(subdomain: ''), class: 'btn btn-primary text-light' %>
  <%= link_to 'All Users', users_path, class: 'btn btn-success text-light' %>
</div>



