<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="d-flex flex-column mx-auto col-6 card shadow shadow-lg py-3 bg-secondary text-light">
      <div class="field text-center">
        <%= form.label :header, class: 'font-weight-bold' %>
        <%= form.select :header, ['Teknoloji', 'Sanat', 'Bilim', 'Politika'] %>
      </div>
    
      <div class="field text-center">
        <%= form.label :color, class: 'font-weight-bold' %>
        <%= form.select :color, ['blue', 'red', 'green'] %>
      </div>
    
      <div class="field text-center">
        <%= form.label :design, class: 'font-weight-bold' %>
        <%= form.select :design, ['İki kolon', 'Bir kolon'] %>
      </div>
    
      <div class="field form-group">
        <%= form.label :title, class: 'font-weight-bold' %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
    
    
    
      <div class="field">
        <%= form.label :body, class: 'font-weight-bold' %>
        <%= form.text_area :body, class: "form-control", rows: '15' %>
      </div>
    
      <div class="actions text-center">
        <%= form.submit class: 'btn btn-success' %>
      </div>
    </div>

<% end %>
