<div class="card shadow shadow-lg col-8 mx-auto py-2 text-center">
  <p>
    <strong>Header:</strong>
    <%= @post.header %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @post.color %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>Design:</strong>
    <%= @post.design %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @post.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link_to @user.email, show_url(@user.id) %>
  </p>
  <div class="col-2 mx-auto">
    <%= link_to 'Back', posts_path, class: 'btn btn-primary text-light' %>
  </div>

</div>
<div class="text-center">
  <% @comments.each do |comment| %>
  <p class="shadow shadow-lg"><%= link_to comment.body, post_comment_path(@post, comment) %> || <%= comment.user.email %></p>
  <% end %>
</div>
<%= can_comment? %>